body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: maroon;
    text-align: center;
}

.about  h2{
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
.skills  h2{
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
.projects h2 {
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
.contact  h2{
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}