body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: maroon;
    text-align: center;
}

.about  h2{
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    margin: auto;
}
.skills  h2{
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    padding: auto;
    margin: auto;
}
.projects h2 {
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    padding: auto;
    margin: auto;
}
.contact  h2{
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    margin: auto;
}

.projects { 

	display:flex; 
	flex-wrap:wrap;  
} 
.projects h2 {
	width: 100%;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: yellow;
    border-radius: 25%;
}
.project h3 {
    margin-left: 50px;
}
.project img {
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid navy;
    display: block;
    text-align: center;
}
.project p {
    text-align: center;
    margin: 15px;
}